.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#distanceTraveld{
  margin-left: 49px;
}

#priceOfGasoline{
  margin-left: 17px;
}

#percentageTaxiF{
  margin-left: 159px;
}

#percentagePetra{
  margin-left: 196px;
}

#percentageZainCar{
  margin-left: 184px;
}

#percentageTicram{
  margin-left: 172px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
